<?xml version="1.0" encoding="UTF-8"?>
<!--
  Copyright 2013 Likya Teknoloji
  
  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at
  
    http://www.apache.org/licenses/LICENSE-2.0
  
  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd" >
<log4j:configuration>

	<appender name="myraconsole" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{ISO8601}|%c{1}|%m%n" />
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMin" value="finest" />
			<param name="LevelMax" value="fatal" />
		</filter>
	</appender>

	<appender name="myratracefile" class="org.apache.log4j.RollingFileAppender">
		<param name="maxFileSize" value="2000KB" />
		<param name="maxBackupIndex" value="5" />
		<param name="File" value="myraTrace.log" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{ISO8601}|%c{1}|%m%n" />
		</layout>
	</appender>

	<appender name="pinaratracefile" class="org.apache.log4j.RollingFileAppender">
		<param name="maxFileSize" value="2000KB" />
		<param name="maxBackupIndex" value="5" />
		<param name="File" value="pinaraTrace.log" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{DATE} %5p %c{1}:%L - %m%n" />
		</layout>
	</appender>

	<appender name="console" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{ISO8601}|%c{1}|%m%n" />
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMin" value="finest" />
			<param name="LevelMax" value="fatal" />
		</filter>
	</appender>

	<!--  appender name="pinaraEkran" class="org.apache.log4j.RollingFileAppender">
		<param name="maxFileSize" value="2000KB" />
		<param name="maxBackupIndex" value="5" />
		<param name="File" value="pinaraEkran.log" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{ISO8601}|%c{1}|%m%n" />
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMin" value="finest" />
			<param name="LevelMax" value="fatal" />
		</filter>
	</appender-->

	<appender name="pinaraEkran" class="org.apache.log4j.RollingFileAppender">
		<param name="maxFileSize" value="1000KB" />
		<param name="maxBackupIndex" value="5" />
		<param name="File" value="pinaraEkran.log" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{ISO8601}|%c{1}|%m%n" />
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMin" value="info" />
			<param name="LevelMax" value="fatal" />
		</filter>
	</appender>

	<logger name="Myra" additivity="false">
		<appender-ref ref="myratracefile" />
	</logger>

	<root>
		<appender-ref ref="console" />
		<appender-ref ref="pinaraEkran" />
		<appender-ref ref="pinaratracefile" />
	</root>

</log4j:configuration>
