/bin
/TlosEkran.log
/TlosTrace.log
/TlosEkran.log.1
/TlosEkran.log.2
/TlosEkran.log.3
/TlosEkran.log.4
/TlosEkran.log.5
/TlosTrace.log.1
/TlosTrace.log.2
/TlosTrace.log.3
/TlosTrace.log.4
/TlosTrace.log.5
/console.log
/console.log.1
/console.log.2
/console.log.3
/myraTrace.log
/myraTrace.log.1
/myraTrace.log.2
/myraTrace.log.3
/myra-tester-orj-0.0.1.jar
/myra-tester-src-0.0.1.jar
/console.log.4
/console.log.5
/myraTrace.log.4
/myraTrace.log.5
/Myra.recover
/testconsole.log
/data/
/hs_err_pid1754.log
