/bin
/myra-schema-0.0.1-1.0.0.jar
/myra-schema-0.0.1-src-V1.0.jar
/myra-schema-0.0.1-V1.0.jar
/build
/test
/src
/myra-schema-0.0.1.jar
/myra-schema-src-V0.0.1.jar
/myra-schema-V0.0.1.jar
/myra-schema-src-0.0.1.jar
/schema.zip
/build2.xml
